<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kedong.newenergyapp"
    android:versionCode="205"
    android:versionName="V2.0.5"
    android:hardwareAccelerated="false">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.kedong.app.MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/mytitle"> <!-- android:Theme.Light Theme.AppCompat -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <provider
            android:name="ezy.boost.update.UpdateFileProvider"
            android:authorities="${applicationId}.updatefileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_cache_path" />
        </provider>

        <activity
            android:name=".bussiness.MainActivity"
            android:label="@string/title_activity_main" />
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->
        <activity
            android:name=".bussiness.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".bussiness.LoadingActivity"
            android:label="@string/title_activity_loading" />
        <activity
            android:name=".bussiness.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bussiness.SettingActivity"
            android:label="@string/title_activity_setting" />
        <activity
            android:name=".bussiness.UserinfoActivity"
            android:label="@string/title_activity_userinfo" />
        <activity
            android:name=".bussiness.ChangepwActivity"
            android:label="@string/title_activity_changepw" />
        <activity
            android:name=".bussiness.AboutActivity"
            android:label="@string/title_activity_about" />

        <service
            android:name=".bussiness.NetworkStateService"
            android:enabled="true" />

        <activity
            android:name=".bussiness.HelpActivity"
            android:label="@string/title_activity_help" />

        <service
            android:name=".service.CheckNewsIntentService"

            >
        </service>
    <!--android:enabled="true"-->
    <!--android:process="system"-->
        <service android:name="org.eclipse.paho.android.service.MqttService"

            />

        <receiver android:name="com.kedong.newenergyapp.service.MyReceiver">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
                <!--<action android:name="android.intent.action.USER_PRESENT"/>-->
            <!--</intent-filter>-->
        </receiver>
    </application>

</manifest>